.skeleton {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeletonText {
    display: inline-block;
    background-color: #e0e0e0;
    height: 16px;
    width: 80%;
    margin-top: 5px;
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}
