.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    overflow: hidden;
}

.repositoryCard {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 768px) {
    .responsiveFlex {
        justify-content: left;
    }

    .repositoryCard > div {
        width: 85vw;
    }
}
