:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background-color: #ffffff;
    --text-color: #333333;
}

/* Dark Mode */
[data-theme='dark'] {
    --background-color: #181818;
    --text-color: #ffffff;
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s ease;
}

body {
    margin: 0;
    overflow-y: scroll;
}
